.user{
    background-color: lightsalmon;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px gray;
}
h1{
    background-color: rgb(199, 193, 193);
    color: dodgerblue;
    text-align: center;
}